# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
env/
venv/

# Datasets and outputs
dataset/
output/
*.tsv
*.csv
*.zip

# Models and checkpoints
code/business_entity_resolution/models/
code/business_entity_resolution/checkpoints/
checkpoints/
*.parquet
*.pkl

# OS specific
.DS_Store
__MACOSX/
Thumbs.db
